.Cabecera {
    width: 100%;
    background-color: black;
    padding: 0;
    margin-bottom: 1em;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}